In [4]:
import numpy as np
import pandas as pd
import math
from sklearn.preprocessing import StandardScaler

In [3]:
data = pd.read_csv('C:/Users/Nguyen/Documents/Python Scripts/fclaims_pastyr.csv')
data.drop("MemberID", axis = 1, inplace = True)
data.drop("Year", axis = 1, inplace = True)

y = data['Target']
X = data.loc[:, data.columns != 'TARGET']
X.head()

,Drug_total,DSFS_drugcount,DSFS_drugmax,DSFS_drugmin,Lab_total,DSFS_labcount,DSFS_labmax,DSFS_labmin,Provider_Total,Provider_Distinct,...,55.000,65.000,75.000,80.000,missing_age,Sex_male,Sex_female,missing_sex,ClaimsTruncated,Target
0,5.0,3.0,5.0,1.0,2.0,1.0,2.0,2.0,8,4,...,0,0,0,0,0,0,0,1,0,0
1,5.0,4.0,12.0,2.0,0.0,0.0,0.0,0.0,5,3,...,0,0,0,0,0,0,1,0,0,0
2,30.0,10.0,11.0,0.0,10.0,1.0,1.0,1.0,13,7,...,0,0,0,0,1,0,1,0,0,0
3,61.0,10.0,9.0,0.0,0.0,0.0,0.0,0.0,4,3,...,1,0,0,0,0,0,1,0,0,0
4,2.0,2.0,2.0,1.0,0.0,0.0,0.0,0.0,4,2,...,0,1,0,0,0,0,1,0,0,0

In [11]:
def eval(model, X_test, y_test):
    y_hat = model.predict(X_test) # your predicted y values
    y_hat = y_hat.astype(int)
    # The root mean square logarithmic error
    msle = np.mean( (np.log(y_hat + 1) - np.log(y_test + 1)) ** 2)
    rmsle = math.sqrt(msle)
    return rmsle

In [6]:
# Scale data Y1
# Chọn Standard Scaler - Chia từng value cho standard deviation
# Gần với dạng normal distribution và cũng giảm outlier

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler().fit(X)
new_X = scaler.transform(X)

In [15]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(max_depth = 20, max_features = 60
                  , min_samples_leaf =  2, bootstrap = True, min_impurity_decrease = 0.0
                  , random_state = 0, n_estimators = 2000, n_jobs = -1, oob_score = False)
model.fit(new_X, y)

RandomForestRegressor(max_depth=20, max_features=60, min_samples_leaf=2,
                      n_estimators=2000, n_jobs=-1, random_state=0)

In [16]:
eval(model, new_X, y)

0.0789193241283204

In [17]:
# dữ liệu Year 2
data_Y2 = pd.read_csv('C:/Users/Nguyen/Documents/Python Scripts/fclaims_curryr.csv')
data_Y2.drop("MemberID", axis = 1, inplace = True)
data_Y2.drop("Year", axis = 1, inplace = True)

y_Y2 = data['Target']
X_Y2 = data.loc[:, data.columns != 'TARGET']
X_Y2.head()

,Drug_total,DSFS_drugcount,DSFS_drugmax,DSFS_drugmin,Lab_total,DSFS_labcount,DSFS_labmax,DSFS_labmin,Provider_Total,Provider_Distinct,...,55.000,65.000,75.000,80.000,missing_age,Sex_male,Sex_female,missing_sex,ClaimsTruncated,Target
0,5.0,3.0,5.0,1.0,2.0,1.0,2.0,2.0,8,4,...,0,0,0,0,0,0,0,1,0,0
1,5.0,4.0,12.0,2.0,0.0,0.0,0.0,0.0,5,3,...,0,0,0,0,0,0,1,0,0,0
2,30.0,10.0,11.0,0.0,10.0,1.0,1.0,1.0,13,7,...,0,0,0,0,1,0,1,0,0,0
3,61.0,10.0,9.0,0.0,0.0,0.0,0.0,0.0,4,3,...,1,0,0,0,0,0,1,0,0,0
4,2.0,2.0,2.0,1.0,0.0,0.0,0.0,0.0,4,2,...,0,1,0,0,0,0,1,0,0,0

In [18]:
scaler = StandardScaler().fit(X_Y2)
new_X_Y2 = scaler.transform(X_Y2)

In [19]:
eval(model,new_X_Y2,y_Y2)

0.0789193241283204

In [ ]:
# Tuy không rõ ràng nhưng có 1 số biến có correlation với nhau, có thể làm đánh giá sai feature_importances_ của các biến
# Có 2 biến trùng nhau về mặt ý nghĩa: Provider_Total và DSFS_count, đều là số lượng claim của KH trong năm.